/ambienti/shared/downloads/*
*.zip
*.tar.gz
*.class
*.vagrant
.project
.metadata
.settings/
.classpath
local.properties
.loadpath
*.jar
*.war
*.ear
*.db
*.log
.DS_Store
Thumbs.db
Desktop.ini
.svn
*.pem

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
build/
dist/
